.slider {
  padding-bottom: $mainPadding;
  position: relative;

  &__container {
    overflow: hidden;
    position: relative;
  }

  &__content {
    display: flex;
    margin: 0 auto;
    transition: transform .2s;
  }

  &__button-container {
    margin-top: 50px;
  }

  &__button-prev, &__button-next {
    width: 50px;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    background-color: #EBEBEB;
    transition: opacity .2s;

    &::before {
      content: '';
      display: block;
      margin: auto;
      background: url("../images/buttom-icon.svg") no-repeat center/cover;
      width:7px;
      height: 16px;
    }

    &:hover {
      opacity: .6;
    }

    &:disabled {
      opacity: .4;
    }

    &_theme_dark {
      background-color: #434343;

      &::before {
        background-image: url("../images/button-icon_theme_dark.svg");
      }
    }
  }
  &__button-next {
    margin-left: 20px;
    transform: rotate(180deg);
  }

  &__icon {
    position: absolute;
    width: 100px;
    height: 40px;
    object-fit: cover;
    bottom: 116px;
    left: 0;
    z-index: 1;
  }

  @include tablets {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-right: 20px;
    border-bottom: 1px solid #E3E3E3;

    &__button-container {
      position: absolute;
      top: 8px;
      right: 0;
      margin-top: 0;
    }

    &__button-prev, &__button-next {
      width: 24px;
      height: 24px;
    }

    &__button-next {
      margin-left: 8px;
    }

     &__icon {
       bottom: 136px;
       width: 70px;
       height: 28px;
    }
  }

  @include phones-small {
    padding-right: 0;
    &__icon {
       bottom: 140px;
    }
  }
}
